h2 {
    color: grey;
    text-align: center;

}
h4 {
    color:black;
    margin-top: 10px;
}
p {
    color: black;
}
input[type=text] {
    width: 100%;
    padding: 8px 8px;
    margin: 10px 0px;
}
input[type=number] {
    width: 100%;
    padding: 8px 8px;
    margin: 10px 0px;
}
input[type=submit] {
    width: 100%;
    background-color: yellowgreen;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 6px;
}

body {
    padding: 20px;
}

